<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method= "GET" action="{% url 'spec_info' %}">
        <input type="text" name="id" placeholder="Введите id">
        <button name="Найти" type="submit"> Найти</button>
    </form>
<h1>Список специальностей</h1>
<ul>
    {% for spec in spec_list%}
        <p>{{spec.pk}}.{{ spec.title }}</p><br>
    {% endfor %}
</ul>
</body>
</html>